.app__intro--video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app__intro--overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  background: rgba(0, 0, 0, 0.65);
}
.app__intro--icon-container {
  margin: auto;
  display: grid;
  place-content: center;
  place-items: center;
  cursor: pointer;
}
.app__intro--icon-container svg {
  width: 100%;
  height: 100%;
}
.app__intro--main-container {
  position: relative;
}

.hide {
  display: none;
}
