.app__header {
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  align-items: center;
}

.app__header--menu {
  display: flex;
  font-size: 1.5rem;
  gap: 2rem;
}

.app__header--book-table-btn {
  color: var(--color-white);
  font-size: 1.25rem;
}

.app__header--logo img {
  width: 150px;
}
.app__header--under-line,
.app__header--book-table-btn {
  overflow: hidden;
}
.app__header--under-line a,
.app__header--book-table-btn a {
  position: relative;
}

.app__header--under-line a::after,
.app__header--book-table-btn a::after {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 100%;
  background-color: var(--color-white);
  left: 0;
  bottom: -5px;
  transition: transform 500ms, opacity 300ms;
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.app__header--under-line a:hover::after,
.app__header--book-table-btn a:hover::after {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.mobile-only-menu {
  display: none;
}

@media (max-width: 850px) {
  .mobile-only-menu {
    display: block;
  }
  .app__header--nav,
  .app__header--book-table-btn {
    display: none;
  }
  .app__header.mobile-only {
    position: absolute;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    z-index: 10;
  }
  .mobile-only-menu {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    height: 27px;
    width: 27px;
    cursor: pointer;
  }
  .app__header--menu.mobile-only {
    flex-direction: column;
    font-size: 1.25rem;
  }
  .app__header--logo.mobile-only {
    display: none;
  }
  .app__header--nav.mobile-only {
    margin-block: auto 0;
    display: block;
  }
  .app__header--book-table-btn.mobile-only {
    margin-block-end: auto;
    display: block;
  }
}

@media (max-width: 450px) {
  .app__header--logo img {
    width: 100px;
  }
  .mobile-only-menu {
    top: unset;
  }
}
